html, body {
    font-family: Arial, sans-serif;
    background: linear-gradient(160deg, #1a1a7d 0%, #9260c6 100%);
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

.header {
    padding: 20px;
    background: linear-gradient(135deg, #0b2969 0%, #3d2a5b 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #c6d9e7;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 5%;
}

h1 {
    margin-inline: auto;
        color: #c6d9e7;
        text-align: center;
        font-size: 36px;
        margin-top: 20px;
        font-family: Arial;
        font-weight: bold;
}

.button-link {
    text-decoration: none;
    color: #c6d9e7;
    background: linear-gradient(135deg, #0d0b4a 0%, #2e2a8e 100%);
    border-radius: 5px;
    transition: background 0.3s ease;
    display: inline-block;
    position: absolute;
    font-family: Arial, sans-serif;
    font-weight: bold;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    text-align: center;
    margin-top: -1.5%;
    margin-left: 1%;
}

.button-link:hover {
    background: linear-gradient(135deg, #744ecd, #c7a1e0);
}

.firstpar {
    font-family: Courier, sans-serif;
    font-weight: bold;
    font-size: 17px;
    color: black;
    text-align: right;
    margin-left: 50px;
    margin-top: -2px;
    background-color: #8F8FFF;
    padding: 20px;
    border: 1px solid #05260a;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 60%;
    border-radius: 5px;
}

.secpar {
    font-family: Courier, sans-serif;
    font-weight: bold;
    font-size: 17px;
    color: black;
    text-align: right;
    margin: 20px 50px 0 auto;
    background-color: #8F8FFF;
    padding: 20px;
    border: 1px solid #05260a;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 60%;
    border-radius: 5px;
}