<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Groupie Trackers</title>
    <link rel="stylesheet" href="/static/about.css">
</head>
<body>
    <div class="button">
        <a href="/" class="button-link">Return to main page </a>
    </div>
    <h1>About Groupie Tracker</h1>
    <div class="firstpar">
        <p>
            Groupie Trackers is a web-based application that interacts with an API to display detailed information about various bands and artists. 
            By leveraging the API, the project visualizes data about artists, their past and upcoming concerts, and how these elements are related. 
            The project emphasizes both data manipulation and creating an interactive user experience through client-server communication.
        </p>
    </div>
    <div class="secpar">
    <h2>Project Overview</h2>
    <p>
        The goal of Groupie Trackers is to transform the raw API data into a user-friendly and visually appealing website. 
        The site presents band information in an easily digestible format using various data visualization techniques (e.g., blocks, cards, tables, pages, or graphics). 
        Additionally, the project includes implementing an event or action that triggers a client-server interaction, allowing for real-time data fetching or updates.
    </p>
    </div>
    </body>
</html>