<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Artists.Name}} - Band Details</title>
    <link rel="stylesheet" href="/static/details.css">
</head>
<body>
    <h1>{{.Artists.Name}}</h1>
    <div class="button">
        <a href="/" class="button-link">Return to main page</a>
    </div>
    <div class="container">
        <div class="album-cover" style="background-image: url({{.Artists.Image}});"></div>
            <!-- CD behind the cover -->
        <div class="cd">
            <div class="cd-content">
                <p>{{.Artists.Name}}</p>
                <p>Creation Date: {{.Artists.CreationDate}}</p>
                <p>First Album: {{.Artists.FirstAlbum}}</p>
            </div>
        </div>
    </div>

    <div class="band-details">
        <p>Members: </p>
        <br>
        {{range .Artists.Members}}
            <p>{{.}}</p>
        {{end}}
    </div>
    <div class="locations-dates">
        <p>Locations and Dates:</p>
        <br>
        {{range $Locations, $Dates := .Relation.DatesLocations}}
            <p>{{$Locations}}:</p>
            {{range $Date := $Dates}}
                <p>{{$Date}}</p>
            {{end}}
        {{end}}
    </div>
</body>
</html>