<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/index.css">
    <title style="font-family:garamond;"> - Band Details</title>
</head>
<body>
    <div class="band-details">
        <img src="" alt=" image">
        <h1 style="font-family:garamond;"></h1>
        <p style="font-family:garamond;">Members: </p>
        <p style="font-family:garamond;">Creation date: </p>
        <p style="font-family:garamond;">First Album: </p>
        <p style="font-family:garamond;">Relations: </p>
    </div>
</body>
</html>