<!--<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/index.css">
    </head>
    <body>
        <div class="container">
            {{range .}}
                <div class="losange">
                    <div class="card" style="background-image: url({{.Image}});">
                        <p>Click to see details</p>
                    </div>
                </div>
            {{end}}
        </div>
    </body>
</html>-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/index.css">
    <title>Groupie Tracker</title>
</head>
<body>
    <header class="header">
        <div class="header-left">By</div>
        <h1>Track your favourite artists</h1>
        <div class="header-right">
            <a href="/about">About</a>
        </div>
    </header>
    <div class="cards-container">
        {{range .}}
            <a href="/details?ID={{.ID}}" class="card" aria-label="Learn more about {{.Name}}" style="background-image: url({{.Image}});">
                <div class="test">
                    <h2 class="textDetail">{{.Name}}</h2>
                </div>                
            </a>
        {{end}}
    </div>
</body>
</html>